<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  {% if SITE_DESCRIPTION %}
  <meta name="description" content="{{SITE_DESCRIPTION}}" />
  {% endif %}

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="no-referrer" />

  <!-- Feed -->
  {% for name,link in SOCIAL if name.lower() in ['rss', 'rss-square', 'feed'] %}
      <link href="{{ link }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% else %}
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
      {% endif %}
      {% if FEED_ALL_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
      {% endif %}
      {% if FEED_ATOM %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
      {% if CATEGORY_FEED_ATOM and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
      {% endif %}
      {% if CATEGORY_FEED_RSS and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
      {% endif %}
  {% endfor %}

  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />

  <!-- Code highlight color scheme -->
  {% if COLOR_SCHEME_CSS %}
      <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
  {% else %}
      <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/github.css" rel="stylesheet">
  {% endif %}

  {% if CSS_OVERRIDE %}
    <!-- CSS specified by the user -->
    {% for css in CSS_OVERRIDE %}

      {% if css|lower|truncate(4, True, '') == "http" %}
          {% set css = css %}
      {% else %}
          {% set css = SITEURL+"/"+css %}
      {% endif %}

    <link href="{{ css }}" type="text/css" rel="stylesheet" />
    {% endfor %}
  {% endif %}

  <!-- Custom fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300' rel='stylesheet' type='text/css' />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
  {% endblock head %}

</head>

<body class="{% block body_class %}{% endblock body_class %}">

  {% include 'partials/navigation.html' %}

  {% if not selected_cover and HEADER_COVER %}
    {% set selected_cover = HEADER_COVER %}
  {% endif %}
  {% if selected_cover %}
    {% if selected_cover|lower|truncate(4, True, '') != "http" %}
      {% if selected_cover|lower|truncate(1, True, '') != "/" %}
        {% set selected_cover = '/' + selected_cover %}
      {% endif %}
      {% set selected_cover = SITEURL + selected_cover %}
    {% endif %}
  {% endif %}
  {% if not selected_color and HEADER_COLOR %}
    {% set selected_color = HEADER_COLOR %}
  {% endif %}
  {% block header %}
    <header>
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
          <span class="blog-logo">
            <a href="{{ SITEURL }}/"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
          </span>
          {% endif %}
          {% if not HIDE_HOME_LINK %}
            <span id="home-button" class="nav-button">
              <a class="home-button" href="{{ SITEURL }}/" title="Home">
                <i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
          <form class="nav-element" id="search-form" action="{{ SITEURL }}/search.html"
                onsubmit="return validateForm(this.elements['q'].value);">
              <input type="text" name="q" id="tipue_search_input" class="search-query span2"
                     placeholder="Search" required/>
          </form>
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        <h1>{{ self.title() }}</h1>
        {% block header_details %}{% endblock header_details %}

        {% if selected_cover %}
          <div class="blog-cover cover" style="background-image: url('{{ selected_cover }}')"></div>
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}"></div>
        {% endif %}
      </div>
    </header>
  {% endblock header %}

  <section id="wrapper">
    <a class="hidden-close"></a>
      {% block content %}{% endblock content %}
    <footer id="footer"></footer>
  </section>

  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>

  {% if JS_OVERRIDE %}
    <!-- Script specified by the user -->
    {% for js in JS_OVERRIDE %}
      {% if js|lower|truncate(4, True, '') == "http" %}
          {% set js = js %}
      {% else %}
          {% set js = SITEURL+"/"+js %}
      {% endif %}
    <script type="text/javascript"  src="{{ js }}"></script>
    {% endfor %}
  {% endif %}
  {% include 'partials/analytics.js' %}
  {% include 'partials/disqus.js' %}
</body>
</html>
