{% extends "base.html" %}
{% set HIDE_HOME_LINK = True %}
{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
    <link href="{{ SITEURL }}/" rel="canonical" />
{% endblock %}

{% block body_class %}index{% endblock body_class %}

{% block header_details %}
{% if SITESUBTITLE %}
    <span class="header-highlight">{{ SITESUBTITLE }}</span>
{% endif %}
{% endblock header_details %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
