{% extends "base.html" %}

{% block title %}Search {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_content.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_set.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.min.js"></script>

    <script>
        $(document).ready(function() {
          $('#tipue_search_input').tipuesearch({
              'mode' : 'json',
              'show': 10,
              'newWindow': false,
              'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
          });
        });
    </script>
{% endblock %}

{% block content %}
<div id="index" class="container">
  <main class="content" role="main">
      <div class="inner">
          <p>Search Results:</p>
          <div id="tipue_search_content"></div>
      </div>
  </main>
</div>
{% endblock content %}


