{% extends "base.html" %}

{% block title %}Tag {{ tag }}{% endblock %}

{# <!-- Choosing cover image --> #}
{% if tag in HEADER_COVERS_BY_TAG %}
  {% set tag_cover = HEADER_COVERS_BY_TAG.get(tag) %}
  {% if tag_cover|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = tag_cover %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+tag_cover %}
  {% endif %}
{% endif %}

{% block header_details %}
    <span class="header-highlight">Posts: {{ articles|count }}</span>
{% endblock header_details %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}