/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    box-sizing: content-box
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: 'icons';
    src: url("../font/icons.eot?51058516");
    src: url("../font/icons.eot?51058516#iefix") format("embedded-opentype"), url("../font/icons.woff?51058516") format("woff"), url("../font/icons.ttf?51058516") format("truetype"), url("../font/icons.svg?51058516#icons") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}

.ic-star:before {
    content: '\e800'
}

.ic-rss:before {
    content: '\e801'
}

.ic-posts:before {
    content: '\e802'
}

.ic-location:before {
    content: '\e803'
}

.ic-link:before {
    content: '\e804'
}

.ic-facebook:before {
    content: '\e806'
}

.ic-arrow-right:before {
    content: '\e807'
}

.ic-arrow-left:before {
    content: '\e808'
}

.ic-twitter:before {
    content: '\e809'
}

.ic-menu:before {
    content: '\e80a'
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: local("Cardo"), local("Cardo-Regular"), url("//fonts.gstatic.com/s/cardo/v8/f9GbO0_LnwwuaRC6yAh0JKCWcynf_cDxXwCLxiixG1c.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/c6Zi_ulq7hv-avk-G9Yut6CWcynf_cDxXwCLxiixG1c.woff") format("woff")
}

@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    src: local("Cardo Bold"), local("Cardo-Bold"), url("//fonts.gstatic.com/s/cardo/v8/X-1BEHTKpRYzad3JEXy9-nYhjbSpvc47ee6xR_80Hnw.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/gHC1KgRPdVNdvvVcxLMCY3YhjbSpvc47ee6xR_80Hnw.woff") format("woff")
}

@font-face {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    src: local("Cardo Italic"), local("Cardo-Italic"), url("//fonts.gstatic.com/s/cardo/v8/aRpKelDgx13ov6asvC3QbgLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/mSKSxAIybPTfRoik7xAeTQLUuEpTyoUstqEm5AMlJo4.woff") format("woff")
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Fira Sans"), local("FiraSans-Regular"), url("//fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQbO3LdcAZYWl9Si6vvxL-qU.woff") format("woff")
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("//fonts.gstatic.com/s/firasans/v5/zM2u8V3CuPVwAAXFQcDi4Bampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/zM2u8V3CuPVwAAXFQcDi4KRDOzjiPcYnFooOUGCOsRk.woff") format("woff")
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("//fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOqRDOzjiPcYnFooOUGCOsRk.woff") format("woff")
}

html {
    font-size: 1em;
    overflow-x: hidden
}

html.menu-active,
.menu-active body {
    overflow-y: hidden
}

body {
    font: 400 1em / 1.5em 'Cardo', serif;
    color: #45484d;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}

a {
    color: #212226;
    text-decoration: none;
    font-weight: 400;
    transition: all ease-out 0.2s
}

a:hover,
a:focus {
    color: #000
}

header, h1, h2, h3, h4, h5, h6 {
font-family: 'Fira Sans', sans-serif;
    text-rendering: optimizeLegibility;
}
table th,
.nav-button a,
#menu,
#footer,
.post-meta,
.post-tags,
.post-author-bio,
.post-comments-activate,
.pagination,
.blog-name {
    font-family: 'Fira Sans', sans-serif;
}


h1 {
    font-size: 2em;
    line-height: 1em;
}

h2 {
    font-size: 2em;
    line-height: 1em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.333em;
}

h4 {
    font-size: 1.25em;
    line-height: 1.2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}

p,
ul,
ol,
div.line-block {
    margin: 1em auto
}

li > p, td > p, th > p { margin: 0; }
li > ul, li > ol { margin: 0 auto; }

ol ol,
ul ul,
ul ol,
ol ul {
    padding-left: 2em;
    margin: 1em 0
}

hr {
    display: block;
    height: 1px;
    margin: 2em 0;
    padding: 0;
    background: #e5e4e1;
    border: 0
}

blockquote {
    margin: 2em auto;
    padding: 1em;
    box-sizing: border-box;
    border-left: 0.25em solid #e5e4e1;
    font-style: italic;
    font-weight: 400;
    color: #45484d;
    background: #faf9f7
}

blockquote p {
    margin: 1em auto
}

blockquote p:first-child {
    margin-top: 0
}

blockquote p:last-child {
    margin-bottom: 0
}

em,
i {
    font-style: italic;
    color: #212226
}

strong,
b {
    font-weight: 700;
    color: #212226
}

small {
    font-size: 0.9em;
    color: #45484d
}

dl {
    display: grid;
    margin: 2em 0 0 0;
}

dt {
    text-align: right;
    font-weight: bold;
    grid-column: 1;
}

dd { grid-column: 2; }

dt, dd { margin-bottom: 1em; }

dd > p { margin: 0 auto }


mark {
    background-color: #ffc336
}

code, tt {
    position: relative;
    margin: 0 0.333em;
    padding: 0.333em 0.666em;
    font-size: 0.75em;
    white-space: pre;
    background: #faf9f7;
    border: 1px solid #e5e4e1;
    top: -2px
}

pre {
    position: relative;
    margin: 2em auto;
    padding: 1em;
    overflow: hidden;
    background: #faf9f7;
    border: 1px solid #e5e4e1;
    box-sizing: border-box
}

pre .lines {
    position: absolute;
    width: 2.666em;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.333em 0;
    border-right: 1px solid #e5e4e1;
    line-height: 2em;
    text-align: right;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5)
}

pre .lines .line {
    display: block;
    padding-right: 0.333em;
    color: #45484d
}

pre code,
pre tt {
    position: static;
    top: auto;
    margin: -1.333em -1.333em -1.333em 1.333em;
    padding: 1.333em;
    overflow: scroll;
    font-size: 0.75em;
    line-height: 2em;
    white-space: pre;
    background: transparent;
    border: none;
    vertical-align: inherit
}

kbd {
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 1px .5em;
    border: #e5e4e1 1px solid;
    color: #45484d;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #faf9f7;
    border-radius: .3em;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset
}

table {
    width: 100%;
    max-width: 100%;
    margin: 2em 0;
    background-color: transparent;
    border: 1px solid #e5e4e1
}

table th,
table td {
    position: relative;
    padding: 0.5em;
    line-height: 0.95em;
    text-align: left;
    border: 1px solid #e5e4e1
}

table th {
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.25em;
    padding: 0.666em;
    color: #000
}

table td:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    padding: 1px;
    z-index: -1;
    content: '';
    background: #faf9f7
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2.5em auto
}

.clear {
    clear: both
}

.hidden {
    display: none
}

@keyframes fadein {
    0% { opacity: .2 }
    100% { opacity: .9 }
}

body > header {
    position: relative;
    padding: 6em 0 0 0;
    background: #000; color: #fff;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
body > header input {
    background: #fff; color: #45484d;
    padding: .5em; border: 1px solid #c2c7cc;
    font-size: .75em;
    width: calc(50vw - 5em);
}
body.index > header {
    text-align: center
}

body.index header:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1
}
header h1, header .post-meta {
    position: relative;
    z-index: 10;
}
header h1 { opacity: 1; }
header .post-meta { opacity: 0.75; }

header .cover {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    z-index: 5;
    background: no-repeat scroll center center/cover #000;
    animation: 0.5s ease-in forwards fadein
}

header .cover:after {
    position: absolute;
    width: 100%; height: 90%;
    left: 0; bottom: 0;
    z-index: 8;
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%)
}

.blog-logo {
    max-width: 2em;
    left: 0;
}

.blog-logo img {
    display: block;
    margin: 0 auto
}

.blog-name {
    position: relative;
    display: block;
    z-index: 10;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
    text-decoration: none;
    font-size: 3em;
}

.blog-name a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit
}

.header-highlight {
    position: relative;
    display: block;
    z-index: 10;
    margin: 1em 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    font-size: 1.5em;
}

#wrapper {
    position: relative;
    padding-right: 0;
    transition: all ease-out 0.25s
}

#wrapper .hidden-close {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 350
}

.menu-active #wrapper {
    padding-right: 16em
}

.menu-active #wrapper .hidden-close {
    display: block
}

.inner {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 2em
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 1em;
    right: 1em;
    left: 1em;
    z-index: 200;
    text-align: center;
}
#navigation .nav-element { flex-grow: 1; }
#navigation .nav-button { flex-grow: 0; }

.nav-button, .nav-element {
    margin: 1px 0;
}

.nav-button a {
    display: block;
    height: 1.5em;
    padding: 0.5em 1.25em;
    border: 1px solid #c2c7cc;
    font-size: 0.75em;
    line-height: 1.666em;
    text-shadow: none;
    color: #8a9199;
    cursor: pointer;
    background: #fff;
    transition: color, border-color ease 0.3s;
    border-radius: 2em
}

.nav-button a:hover,
.nav-button a:focus {
    color: #f26a3d;
    border-color: #f26a3d
}

.cover-active .nav-button a {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    background: transparent
}

.cover-active .nav-button a:hover,
.cover-active .nav-button a:focus {
    color: #fff;
    border-color: #fff
}

.nav-button a i {
    display: inline-block;
    color: inherit
}

.nav-button a i:before {
    position: relative;
    width: auto;
    top: -2px;
    margin: auto;
    font-size: 0.625em;
    line-height: 1.6em
}

#menu {
    position: fixed;
    width: 16em;
    height: 100%;
    top: 0;
    right: 0;
    background: #f2f2f0;
    border-left: 1px solid #e5e4e1;
    z-index: 400;
    overflow: hidden;
    box-shadow: inset -2px 0 .5em rgba(0, 0, 0, 0.1);
    transform: translate3d(16em, 0, 0);
    transition: all ease-out 0.25s
}

.menu-active #menu {
    transform: translate3d(0, 0, 0)
}

#menu .close-button {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    right: 0;
    margin: 1em;
    border: 1px solid #c2c7cc;
    color: transparent;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 2em;
    box-sizing: border-box;
    z-index: 500
}

#menu .close-button:hover,
#menu .close-button:focus {
    transform: rotate(180deg);
    border-color: #f26a3d
}

#menu .close-button:after,
#menu .close-button:before {
    position: absolute;
    width: 1em;
    height: 1px;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    content: '';
    background: #8a9199;
    transition: all ease 0.3s
}

#menu .close-button:hover:after,
#menu .close-button:hover:before,
#menu .close-button:focus:after,
#menu .close-button:focus:before {
    background: #f26a3d
}

#menu .close-button:after {
    transform: rotate(45deg)
}

#menu .close-button:before {
    transform: rotate(-45deg)
}

#menu .nav-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

#menu .nav-label {
    display: block;
    padding: 1.666em 2em;
    margin: 0;
    opacity: 0.5;
    font-size: 0.75em;
    line-height: 2em
}

#menu ul {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0
}

#menu li {
    position: relative
}

#menu li:before {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 1.5em;
    bottom: 0;
    margin: auto;
    content: '';
    background: rgba(0, 0, 0, 0.1)
}

#menu li:last-child:before {
    display: none
}

#menu li.active:after {
    position: absolute;
    content: '';
    width: 0.2em;
    height: 100%;
    left: 0;
    top: 0;
    background: #f26a3d
}

#menu li a {
    display: block;
    padding: .75em 1.5em;
    color: #212226;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400
}

#menu li a:hover,
#menu li a:focus {
    color: #000;
    background: rgba(0, 0, 0, 0.05)
}

#menu li a i {
    position: relative;
    top: -0.25em;
    font-size: 0.5em;
    color: inherit
}

#menu li.active a {
    color: #000;
    font-weight: 500
}

#footer {
    position: relative;
    z-index: 20;
    line-height: 1em;
    padding-bottom: 6em
}

#blog-author {
    position: relative;
    z-index: 40;
    margin: auto 0;
}

#blog-author:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1
}

#blog-author .post-author {
    margin-top: -5em;
    padding-bottom: 3em;
    border: 0
}

#blog-author .post-author-avatar {
    width: 20%;
    margin: 0 2.5%
}

#blog-author.has-cover .post-author-avatar {
    box-shadow: 0 2px .3em rgba(0, 0, 0, 0.1)
}

#blog-author.has-cover .post-author-avatar img {
    border: 0.125em solid #fff
}

#blog-author .post-author-name {
    padding: 0.333em 0 0;
    font-size: 2em;
    line-height: 1em
}

#blog-author.has-cover .post-author-name {
    padding: 0.333em 0;
    font-weight: 500;
    letter-spacing: 0.025em;
    line-height: 1.333em;
    color: #fff
}

#blog-author.has-cover .post-author-about {
    margin-top: 1.333em
}

.container {
    position: relative
}

.container article {
    padding: 2em 0
}

.container article:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1
}

.container article.featured .post-title:after {
    position: absolute;
    width: 1em;
    height: 1em;
    left: -1.75em;
    top: 0;
    margin-top: -0.25em;
    font-family: 'icons';
    font-size: 0.5em;
    font-style: normal;
    font-weight: normal;
    content: '\e800';
    color: inherit;
    text-align: center;
    color: #e5e4e1
}

/* Docutils specific */

.docinfo dd > p { margin: 0 }
/* these are redundant */
.docinfo .date,
.docinfo .tags,
.docinfo .cover { display: none; }
.docinfo dt { text-transform: capitalize; }

.literal { font-family: monospace; }
.footnote-reference, .citation-reference {
    vertical-align: super;
    font-size: .6em;
}
.post-content .footnote-reference,
.post-content .citation-reference,
.post-content .fn-backref,
.post-content .fn-backref a {
    border-bottom: none;
}
.rubric { text-align: center; font-weight: bold; }
figure, .figure {
    border: 1px solid #e5e4e1;
    width: 110%; margin-left: -5%;
    padding: 1em;
}
.figure p:last-child { margin-bottom: 0; }
.post-content .figure img {
    width: 100%; margin: 0;
}
.admonition p { font-style: italic; }
.admonition-title { display: none; }

/* End Docutils specific */

.post.page {
    padding-bottom: 4em
}

.page-template #footer:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    top: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1
}

.post {
    position: relative;
    padding-top: 2em;
    z-index: 10
}

.post-title a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit
}

.post-meta {
    display: block;
    margin-bottom: 1.333em;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.333em;
    opacity: 0.5
}

.post-meta a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent
}

.post-meta a:hover,
.post-meta a:focus {
    border-color: rgba(0, 0, 0, 0.5)
}

.has-cover .post-meta a:hover,
.has-cover .post-meta a:focus {
    border-color: rgba(255, 255, 255, 0.5)
}

.post-excerpt p {
    margin: 0
}

.post-content a {
    border-bottom: 1px solid #f26a3d
}

.post-content a:hover,
.post-content a:focus {
    color: #f26a3d
}

.post-content img,
.post-content .fluid-width-video-wrapper {
    max-width: none;
    width: 110%;
    margin-left: -5%
}

.post-info {
    margin-top: 6em;
    overflow: hidden
}

.post-share {
    max-width: 25%;
    float: right
}

.post-share a {
    display: block;
    width: 2em;
    height: 2em;
    margin: 0.333em 0 0.333em 0.666em;
    padding: 0;
    float: left;
    font-size: 0.75em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    transition: all ease 0.3s
}

.post-share a:hover,
.post-share a:focus {
    background-color: #212226
}

.post-share a i {
    color: inherit
}

.post-share a i:before {
    width: auto;
    height: auto
}

.post-share .twitter {
    background-color: #3ea9dd
}

.post-share .facebook {
    background-color: #3c5a98
}

.post-tags {
    max-width: 75%;
    float: left;
}

.post-tags a {
    display: inline-block;
    margin: 0 0.333em 0.666em 0;
    padding: 0.575em 1em;
    background: #fff;
    border: 1px solid #f26a3d;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.333em;
    text-align: center;
    text-decoration: none;
    color: #f26a3d;
    border-radius: 2em;
    transition: all ease 0.3s;
    box-sizing: border-box
}

.post-tags a:hover,
.post-tags a:focus {
    background: #f26a3d;
    color: #fff
}

.post-author {
    position: relative;
    margin: 2em 0 0;
    padding: 2em 0;
    z-index: 10;
    border-top: 1px solid #e5e4e1;
    border-bottom: 1px solid #e5e4e1;
    clear: both
}

.post-author-avatar {
    position: relative;
    float: left;
    width: 15%;
    margin: -0.5em 0 0 5%;
    overflow: hidden;
    background: #fff;
    border-radius: 10em;
    box-sizing: border-box
}

.post-author-avatar img {
    width: 100%;
    margin: auto;
    border-radius: 10em;
    box-sizing: border-box
}

.post-author-bio {
    padding-left: 25%;
    font-size: 0.75em;
    line-height: 1.333em
}

.post-author-name {
    margin: 0;
    padding: 0;
    font-size: 1.333em;
    line-height: 1em;
    text-indent: inherit
}

.post-author-about {
    margin: 0.666em 0
}

.post-author-bio span {
    position: relative;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 1.25em;
    margin-right: 1.25em;
    font-weight: 400;
    opacity: 0.5
}

.post-author-bio i {
    color: inherit
}

.post-author-bio a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    border-bottom: 1px solid transparent
}

.post-comments {
    position: relative;
    padding: 2em 0;
    text-align: center;
    border-bottom: 1px solid #e5e4e1;
    box-sizing: border-box
}

.post-comments.activated {
    margin: -1px 0 0;
    padding: 1em;
    background: #faf9f7;
    border: 1px solid #e5e4e1
}

.post-comments-activate {
    display: inline-block;
    margin: 0;
    padding: 0.5em 1.25em;
    border: 1px solid #c2c7cc;
    font-size: 0.75em;
    line-height: 1.333em;
    color: #8a9199;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 2em
}

.post-comments-activate:hover,
.post-comments-activate:focus {
    color: #f26a3d;
    border-color: #f26a3d
}

.activated .post-comments-activate {
    display: none
}

.post-nav {
    position: relative;
    border-bottom: 1px solid #e5e4e1
}

.post-nav:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background: #e5e4e1;
    z-index: 2
}

.post-nav-next,
.post-nav-prev {
    display: block;
    width: 50%
}

.post-nav-next {
    float: left
}

.post-nav-prev {
    float: right
}

.post-nav-teaser {
    padding: 1.5em 0;
    min-height: 6em
}

.post-nav-next .post-nav-teaser {
    padding-right: 1em
}

.post-nav-prev .post-nav-teaser {
    padding-left: 1em
}

.post-nav i {
    position: absolute;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1em;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    transition: all ease-out 0.3s;
    color: #e5e4e1
}

.post-nav-next i {
    left: 0;
    margin-left: -1.75em
}

.post-nav-prev i {
    right: 0;
    margin-right: -1.75em
}

.post-nav a:hover i,
.post-nav a:focus i {
    color: #f26a3d
}

.post-nav-title {
    margin: 0 0 0.5em;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: inherit
}

.post-nav-excerpt {
    margin: 0;
    font-size: 0.75em;
    line-height: 1.333em
}

.pagination {
    position: relative;
    height: 2em;
    margin: 0;
    padding: 2em 0;
}

.pagination:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1
}

.pagination a {
    position: relative;
    display: block;
    height: 1.333em;
    margin: -1px 0;
    padding: 0.666em 1em;
    z-index: 100;
    border: 1px solid #c2c7cc;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #8a9199;
    transition: all ease 0.3s;
    border-radius: 2em
}

.pagination .pagination-prev {
    float: right;
    padding-left: 1.333em
}

.pagination .pagination-next {
    float: left;
    padding-right: 1.333em
}

.pagination a:hover,
.pagination a:focus {
    color: #f26a3d;
    border-color: #f26a3d
}

.pagination .pagination-label {
    position: relative;
    display: inline-block;
    height: 1em;
    line-height: 1em
}

.pagination a i {
    position: relative;
    width: auto;
    top: -1px;
    margin: auto;
    color: inherit;
    font-size: 0.75em;
    line-height: 1.333em
}

.pagination .pagination-info {
    position: absolute;
    width: 100%;
    height: 2.666em;
    left: 0;
    z-index: 50;
    display: block;
    font-size: 0.75em;
    line-height: 2.666em;
    text-align: center
}

.extra-pagination {
    display: none
}

.extra-pagination .pagination:after {
    top: auto;
    bottom: 0
}

.archive-template .extra-pagination {
    display: block
}

/* prevent the header from covering everything */
@media (min-aspect-ratio: 4/1) {
    body > header { padding-top: 2.5em; }
}
@media (min-aspect-ratio: 2/1) {
    body > header { padding-top: 3em; }
}
@media (min-aspect-ratio: 1/1) {
    body > header { padding-top: 4em; }
}

@media only screen and (min-width: 1500px) {
    html { font-size: 1.5em; }
}
@media only screen and (min-width: 1000px) {
    html { font-size: 1.2em; }
}

@media only screen and (max-width: 960px) {
    #wrapper {
        transform: translate3d(0, 0, 0)
    }
    .menu-active #wrapper {
        padding-right: 0;
        transform: translate3d(-16em, 0, 0)
    }
}

@media only screen and (max-width: 640px) {
    .post-tags {
        max-width: none;
        float: none;
        margin: 0 0 2em
    }
    .post-share a {
        margin-left: 0;
        margin-right: 0.666em
    }
    .post-nav i {
        font-size: 1.5em
    }
}

@media only screen and (max-width: 480px) {
    .post-author-avatar {
        margin: -0.25em 0 0 0.5em
    }
    .container .post.featured .post-title:after {
        left: 0;
        top: -1.75em
    }
    .post-content img,
    .post-content .fluid-width-video-wrapper {
        width: 100%;
        margin-left: auto
    }
    .post-nav:after {
        display: none
    }
    .post-nav-next,
    .post-nav-prev {
        display: block;
        width: 100%
    }
    .post-nav-teaser {
        position: relative;
        min-height: 4em;
        padding: 2em 0
    }
    .post-nav-next .post-nav-teaser:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        margin-bottom: -1px;
        background: #e5e4e1;
        z-index: 2
    }
    .post-nav-next .post-nav-teaser {
        padding-right: 0;
        padding-left: 1.5em
    }
    .post-nav-prev .post-nav-teaser {
        padding-left: 0;
        padding-right: 1.5em
    }
    .post-nav-next i {
        margin-left: -1em
    }
    .post-nav-prev i {
        margin-right: -1em
    }
}

@media only screen and (max-width: 320px) {
    .pagination .pagination-label {
        display: none
    }
}


@media print {
    nav, #navigation { display: none; }
    body > header { padding: 0; background: #fff; color: #000; }
    body > header .cover { display: none; }
    .post-share { display: none; }
}
